* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-transform: capitalize;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    width: 100%;
    height: 100vh;
    
    margin: 0 auto;

    padding: 30px;
    background-color: #eee;

    display: grid;
    
    grid-template-columns: repeat(4 , auto);
    grid-template-rows:    repeat(4 , auto);

    gap: 10px;
}

.first-user  ,
.second-user ,
.four-user   ,
.six-user    ,
.seven-user  ,
.nine-user   ,
.ten-user    {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid red;
}

.first-user  p ,
.second-user p ,
.third-user  p ,
.four-user   p ,
.five-user   p ,
.six-user    p ,
.seven-user  p , 
.eight-user  p ,
.nine-user   p ,
.ten-user    p  {
    margin-top: 8px;
}

.first-user  p:nth-of-type(1),
.second-user p:nth-of-type(1),
.third-user  p:nth-of-type(1),
.four-user   p:nth-of-type(1),
.five-user   p:nth-of-type(1),
.six-user    p:nth-of-type(1),
.seven-user  p:nth-of-type(1),
.eight-user  p:nth-of-type(1),
.nine-user   p:nth-of-type(1),
.ten-user    p:nth-of-type(1){
    opacity: 0.8;
}

.third-user ,
.five-user ,
.eight-user {
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: 1px solid red;

}

.first-user {
    grid-area: 1 / span 2 / 1 / span 2;
}        

.second-user {
    grid-area: 1 / span 1 / 1 / 2;
}

.third-user {
    grid-area: 1 / 4 / 4 / 4 ;
}

.four-user {
    grid-area: 2 / 1 / span 2 / 1;
}

.five-user {
    grid-area: 2 /  2 /  2 /  span 2;
}

.six-user {
    grid-area: 3 / 2 / 3 /  span 2;
}

.seven-user {
    grid-area: 4 / span 1 / 4 / span 1 ;
}

.eight-user {
    grid-area: 4 / 2 / 4 / 2 ;
}

.nine-user {
    grid-area: 4 / 3 / 4 / 3 ;
}

.ten-user {
    grid-area: 4 / 4 / 4 / 4 ;
}